/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  min-height: 100vh;
  background: black;
  overflow-x: hidden;
}

.topnav {
  background-color: #031D44;
  overflow: hidden;
  height: 80px;
  width: 100%;
  border-bottom: #ffffff 2px solid;
}

.topnav a {
  float: right;
  color: white;
  text-align: center;
  padding: 12px 16px;
  margin: 16px;
  text-decoration: none;
  border-radius: 20px;
  font-size: 17px;
  
}

.topnav a:hover {
  background-color: #021532;
  color: white;
}

.topnav a.active {
  background-color: white;
  color: black;
}

.agree {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 9vh;
}

.agree a {
  color: white;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  border-radius: 20px;
  background-color: black;
  border: 2px solid #ffffff;
  font-size: 25px;
  transition: all 0.3s ease;
}

.agree a:hover {
  background-color: white;
  color: #021532;
  border-color: black;
  border-width: 2px;
  border-style: solid;
}


.home-container {
  display: flex;
  width: 100vw;
  gap: 10px;
  height: calc(100vh - 80px);
}

.warning-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100vw;
  min-height: 40vh;
  padding-top: 4%;
}

.sim-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: calc(100vh - 80px);
}

.sbox-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 150px;
}

.simulationhomebox,
.gamblinghomebox {
  width: 50%;
  background-color: #010613; 
  color: white;
  text-align: center;
  height: 100%;
  transition: all 0.3s ease;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.warningbox {
  width: 50%;
  height: auto;
  background-color: #010613; 
  color: white;
  text-align: center;
  padding-bottom: 2.5%;
     box-shadow:
    0 6px 14px rgba(0,0,0,0.45),
    0 1px 10px rgb(255, 255, 255),
    0 0 15px rgb(255, 255, 255);
  border-radius: 10px; 
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.simbox{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: flex-start;
  text-align: center;
  background-color: #010613; 
  color: white;
  text-align: center;
  height: 100%;
  transition: all 0.3s ease;
}

.sbox {
  position: relative;
  width: 250px;
  height: 250px;
  background-color: #010613; 
  color: white;
  text-align: center;
  padding: 20px;
  border: #ffffff 2px solid;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.circle{
  position: absolute;
  width: 50px;
  height: 50px;
  border:#ffffff  2px solid;
  border-radius: 50%;
  margin: 5px;
  bottom: 20px;
  left: 20px;
}

.sboxtext{
  position: absolute;
  bottom: 30px;
  left: 90px;
  font-size: 18px;
}

.simulationhomebox:hover, .gamblinghomebox:hover {
   box-shadow:
    0 6px 14px rgba(0,0,0,0.45),
    0 14px 10px rgb(255, 255, 255),
    0 0 15px rgb(255, 255, 255);
  transform: translateY(-6px) scale(1.01);
  background-color: #020e28;
  color: white;
}

.simbox:hover {
   box-shadow:
    0 0px 0px rgba(0,0,0,0.45),
    0 1px 10px rgb(255, 255, 255),
    0 0 15px rgb(255, 255, 255);
  background-color: #020e28;
  color: white;
}

.texthome
{
  padding-top: 15%;
}

.textwarning
{
  padding-top: 6%;
  padding-left: 6%;
  padding-right: 6%;
}

.textsim.left
{
  flex: 1;
  font-size: 30px;
  margin-bottom: 15px;
  margin-top: 10px;
  color: white;
  text-align: left;
  padding-left: 3%;

}

.textsim.right
{
  flex: 1;
  font-size: 30px;
  margin-bottom: 15px;
  margin-top: 10px;
  color: white;
  text-align: right;
  padding-right: 3%;
}

.warningicon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.textwrap
{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.gridwrap
{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: stretch;
}

.gridcontainer.left
{
  flex: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  text-align: left;
}

.gridcontainer.right
{
  flex: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  text-align: right;
}

.griditem
{
  background-color: #010613;
  color: white;
  padding: 10px;
  font-size: 20px;
  border: #ffffff 2px solid;
  padding-right: 7%;
  padding-left: 7%;
  
}

.gridcontainer.left .griditem::before
{
  margin-right: 10px;
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-person-circle" viewBox="0 0 16 16"><path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/><path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/></svg>');
  vertical-align: middle;
}

.gridcontainer.right .griditem::after
{
  margin-left: 10px;
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-person-circle" viewBox="0 0 16 16"><path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/><path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/></svg>');
  vertical-align: middle;
}

.gamblingslider
{
  padding-top: 5%;
  justify-self: center;
}

.dropbtn {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #ddd;
}

.dropdown {
  position: relative;
  display: inline-block;
  border-radius: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 20px;
}

.dropdown-content a {
  color: black;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
  border-radius: 20px;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown-content button {
  background-color: white;
  color: black;
  padding: 12px 16px;
  border: none;
  display: block;
  width: 100%;
  text-align: left;
  border-radius: 12px;
  cursor: pointer;
  font-size: 15px;
  transition: all 0.2s ease;
}

.dropdown-content button:hover {
  background-color: #ddd;
  color: black;
}

.show {display:block;}

